  .searchBarContainer {
      width: 770px;
  }

  .searchBarContainer :global(.vtex-input-prefix__group) {
      border: none;
      border-radius: 0;
      border-bottom: thin solid white;
  }

  .searchBarContainer :global(.vtex-input__suffix) {
    background: transparent;
  }
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    color: lime;
}
.imageElement--banner {
    border-radius: 15px;
}

.installmentsPrice {
    color: white;
    font-size: medium;
}

.listPrice {
    color: red;
}

.sellingPriceLabel {
    color: white;
}